@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  height: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 0 1rem;
  width: 90%;
}

@media (min-width: 768px) {
  main {
    width: 80%;
  }
}

/* Large screens (laptops, ≥1024px) */
@media (min-width: 1024px) {
  main {
    width: 70%;
  }
}

/* Extra-large screens (desktops, ≥1280px) */
@media (min-width: 1280px) {
  main {
    width: 50%;
  }
}

/* Gallery */

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

/* Link hover underline animation */
.nav-link {
  position: relative;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: var(--foreground);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.nav-link .active{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  background-color: var(--foreground);
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link.active::after {
  transform: scaleX(1);
}

.nav-link:not(.active):hover::after {
  transform: scaleX(1);
}

/* Containers */

.dark-container {
  padding: 1rem;
  background-color: rgba(31, 41, 55, 0.5);
  border-radius: 0.5rem;
  border: 1px solid rgba(55, 65, 81, 0.5);
  transition: border-color 150ms;
  :hover {
    border-color: rgba(75, 85, 99, 0.5);
  }
}
