.home-content-container{
    margin: 0 30px 0 30px;
}

.headers{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-header-container{
    background-color: #000E3B;
    border-radius: 20px;
    margin: 30px 0 30px 0;
    display: flex;
    height: 60vh;
}

.cursive-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 140%;
    color: white;
}


.main-header{
    font-family: 'Impact', 'Arial Narrow', Arial, sans-serif;
    font-size: 5em;
    line-height: 80%;
    color: white;
}

.main-sub-header{
    font-family: 'Impact', 'Arial Narrow', Arial, sans-serif; 
    font-size: 2em;
    color: white;
}

.header-general{
    margin-left: 30px;
}

.home-page-me{
    height: 400px;
    width: auto;
}

.image-container-me{
    display: flex;
    align-items: flex-end ;
}